/* =====================
  General Styles
===================== */
/* body #394c4a  a:#29a598*/
html {
  font-size: 110%;
}

html,
body {
  height: 100%;
  /* Fullscreen BG */
  width: 100%;
}

body {
  /* color: #394c4a; */
  font-family: '微软雅黑', 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  color: #9da7a6;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

small {
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
  /* color: #f9f9f9; */
  /* transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out; */
}

section {
  position: relative;
}

hr {
  border-color: #cdd1cf;
  margin: 30px 0 60px;
}

/* =====================
  Navbar Styles
===================== */
.navbar-default {
  background-color: transparent;
  border: none;
  height: 80px;
  left: 0;
  margin-bottom: 0;
  padding: 0 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navbar-header {
  height: 80px;
}

.navbar-nav {
  margin-bottom: 10px;
  margin-top: 0;
}

.navbar-brand,
.navbar-nav > li > a {
  padding-bottom: 0;
  padding-top: 0;
  color: #fff !important;
}

.navbar-brand {
  font-size: 1.5rem;
  height: 80px;
  line-height: 60px;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

.navbar-nav > li > a,
.navbar-nav > li > button {
  color: white;
  height: 36px;
  line-height: 36px;
  margin-top: 22px;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  border-color: 1px solid #fff;
  color: #fff;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  outline: none;
  color: #fff;
  font-weight: 600;
}

.navbar ul li a::before,
.navbar ul li a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(255, 255, 255, 0);
  content: attr(data-text);
  transition: max-height 0.3s, border-color 0s;
}

.navbar ul li a::before {
  top: 0;
  border-left: 2px solid rgba(255, 255, 255, 0);
}

.navbar ul li a::after {
  top: 0;
  border-right: 2px solid rgba(255, 255, 255, 0);
}

/* Fixed Menu */
.menu-fixed {
  background-color: #fffefd;
  background-color: rgba(255, 254, 253, 0.97);
  border-radius: 0;
  box-shadow: 0 3px 9px rgba(8, 33, 30, 0.15);
  height: 80px;
  padding-top: 0;
  position: fixed;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.menu-fixed .navbar-header {
  height: 80px;
}

.menu-fixed .navbar-toggle,
.menu-fixed span,
.menu-fixed .navbar-nav > li > a {
  /*  */
  color: #293241 !important;
}

.menu-fixed .navbar-brand span {
  margin-top: 13px;
}

.menu-fixed .navbar-brand {
  display: block;
  margin-top: 0;
  opacity: 1;
}

/* =====================
  Jumbotron Styles
===================== */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://yangshenggirl.github.io/OnlineResume/assets/images/background.jpg')
      center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 510px;
  position: relative;
  width: 100%;
}

.jumbotron .container {
  position: relative;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.jumbotron .title {
  font-size: 2.5em;
  text-shadow: 0px 2px 3px #2d2d2d;
}

.jumbotron p {
  margin: 0;
}

/* =====================
  Containers
===================== */
section.row,
footer.row {
  padding: 30px 30px 60px;
}

/* =====================
  about
===================== */

.about .text-left {
  width: 80%;
  margin: 0 auto;
}

/* =====================
  experience
===================== */

.experience {
  background: #293241;
  color: white;
  overflow-x: hidden;
}

.experience ul {
  padding: 40px 0;
  list-style-type: none;
}

.experience ul li {
  background: #f9f9f9;
  position: relative;
  margin-left: 20px;
  width: 5px;
  padding-bottom: 40px;
  margin: 0 auto;
  /* border: 1px solid #fff; */
}

.experience ul li:last-child {
  padding-bottom: 7px;
}

.experience ul li:before {
  content: '';
  background: #293241;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 4px solid #f9f9f9;
}

.experience .experience-hidden {
  opacity: 0;
  margin-left: 10vw;
}

.experience .experience-content {
  background: #f9f9f9;
  position: relative;
  top: 7px;
  left: 48px;
  width: calc(100vw - 100px);
  padding: 20px;
  -webkit-border-radius: 0 5px 5px;
  -moz-border-radius: 0 5px 5px;
  border-radius: 0 5px 5px;
}

.experience .experience-content h2 {
  font-size: 1.5em;
  color: #293241;
  padding-bottom: 10px;
}

.experience .experience-content .experience-time {
  color: #777;
  font-size: 1.1em;
  padding-bottom: 10px;
}

.experience .experience-SpecificContent {
  color: #293241;
  font-size: 0.85em;
}

.experience .experience-content p {
  color: #293241;
  font-size: 0.95em;
}

.experience .experience-content:before {
  content: '';
  background: #fff;
  position: absolute;
  top: 0;
  left: -35px;
  width: 35px;
  height: 5px;
}

.experience h4 {
  font-size: 0.8rem;
}

/* =====================
  skills
===================== */
.skill-content {
  display: flex;
  justify-content: space-between;
}

/*** Modal ***/
.modal-dialog.wide {
  width: 90%;
}

.modal-dialog.wide .row {
  margin: 0 0 30px;
}

.modal-dialog.wide .row .row {
  margin-left: -15px;
  margin-right: -15px;
}

.modal-header {
  border: none;
  padding: 30px 30px 0;
}

.modal-header .close {
  font-size: 2rem;
}

.modal-content {
  background-color: #fffefd;
  border: none;
  box-shadow: 0 3px 6px rgba(8, 33, 30, 0.2);
}

.modal-body {
  padding: 30px;
}

.modal-body li {
  margin-bottom: 9px;
}

.modal-footer {
  padding: 30px 0 15px;
}

/* Fade Up Animation */
.modal.fade .modal-dialog {
  -webkit-transform: translate3d(0, 100vh, 0);
  -ms-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
}

.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.modal-backdrop {
  background-color: #fffefd;
  z-index: 1025;
}

.modal-backdrop.in {
  opacity: 0.9;
}

/* =====================
  Buttons
===================== */
.td-btn {
  padding: 12px 36px;
  transition: background-color 0.2s ease-in-out;
}

.td-btn + .td-btn {
  margin-left: 6px;
}

.td-btn.small {
  font-family: 'Work Sans', helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 9px 15px 8px;
}

.outline {
  background-color: transparent;
  border: 1px solid #9da6a4;
  color: #9da6a4;
}

.outline:focus,
.outline:hover {
  background-color: #9da6a4;
  color: #fffefd;
}

.outline.green {
  border-color: #29a598;
  color: #29a598;
}

.outline.green:focus,
.outline.green:hover {
  background-color: #29a598;
  color: #fffefd;
}

.outline.white {
  border-color: #fffefd;
  color: #fffefd;
}

.outline.white:focus,
.outline.white:hover {
  background-color: #fffefd;
  color: #fffefd;
}

/* Navbar Contact Button */
.navbar-nav .outline.green {
  border-color: #29a598;
  color: #29a598;
  margin: 20px 15px 0;
  padding-top: 0;
}

.navbar-nav .outline.green:focus,
.navbar-nav .outline.green:hover {
  background-color: #29a598;
  color: #fffefd;
  text-decoration: none;
}

.menu-fixed .outline.green {
  margin-top: 11px;
}

/* Codepen and Github SVG Buttons */
.iconBtn > img {
  margin-right: 6px;
  margin-top: -3px;
  width: 18px;
}

.iconBtn:focus > img,
.iconBtn:hover > img {
  -webkit-filter: brightness(10);
  filter: brightness(10);
}

/* Social Icons */
.social {
  display: inline-block;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  height: 36px;
  margin-left: 3px;
  width: 36px;
}

.social:focus,
.social:hover {
  background-color: transparent;
}

.social + .social {
  margin-left: 9px;
}

.social img {
  max-width: 100%;
}

/* =====================
  Icons and Images
===================== */
.icon {
  max-height: 90px;
}

.icon + p {
  margin-top: 15px;
}

/* Profile Pic */
.profile {
  max-width: 180px;
  padding: 0 15px 0 0;
}

/* Glyphicons */
.glyphicon-heart {
  color: #df3778;
}

/* =====================
  Resume Modal
===================== */
#resumeModal h4 {
  margin-top: 0;
}

.year {
  text-align: right;
}

/* =====================
  projects Projects
===================== */
#projects .carousel-control {
  background: none;
  color: #fffefd;
  font-size: 2rem;
  margin-top: 150%;
  opacity: 1;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-shadow: none;
}

#projects .carousel-control:focus,
#projects .carousel-control:hover {
  color: #29a598;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#projects .carousel-inner {
  overflow: inherit;
}

#projects .carousel-inner img {
  width: 100%;
  max-height: 400px;
}

#projects .carousel-caption {
  bottom: inherit;
  left: inherit;
  position: relative;
  right: inherit;
  text-align: left;
  text-shadow: none;
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(8, 33, 30, 0.5);
  color: #394c4a;
  padding: 30px;
}

.card h3 {
  margin-top: 0;
}

.card h4 {
  font-size: 0.8rem;
}

.card .card-content {
  font-size: 0.85rem;
  line-height: 2.5;
}

.card .card-content .title {
  margin-bottom: 5px;
}

#projects .carousel-indicators {
  bottom: 0;
  position: relative;
}

#projects .carousel-indicators li {
  border-radius: 20px;
  height: 15px;
  width: 15px;
}

#projects .carousel-indicators li.active {
  height: 17px;
  width: 17px;
}

/*** Project Modals ***/
.hero {
  margin: 30px auto;
  max-width: 900px;
  width: 100%;
}

.label.tag {
  background-color: #ffce3f;
  border-radius: 0;
  font-weight: normal;
}

/* To override button alignment in modals */
.center {
  text-align: center;
}

/* =====================
  Other Styles
===================== */
.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.bg-shadow {
  box-shadow: 0 1px 3px rgba(8, 33, 30, 0.5);
}

.bg-white {
  background-color: #fffefd;
  position: relative;
}

.bg-pink {
  background-color: #df3778;
  color: #fffefd;
  position: relative;
}

.bg-green {
  background-color: #29a598;
  color: #fffefd;
  position: relative;
}

.bg-star-g {
  background: #29a598;
  background-size: 60px;
  color: #fffefd;
}

.bg-star-gb {
  background: #293241;
  background-size: 60px;
  color: #fffefd;
}

.bg-honeycomb {
  background: #fffefd;
  background-size: 24px;
}

.gray {
  color: #9da6a4;
}

.dashed {
  border-top: 2px dashed #29a598;
}

/*** Contact Form ***/
.checkbox {
  display: none;
}

/* =====================
  Media Queries
===================== */
@media (max-width: 1199px) {
  /* Center class for medium screens */
  .md-center {
    text-align: center;
  }
}

@media (max-width: 991px) {
  /*** Resume ***/
  .year {
    text-align: left;
  }

  /*** projects ***/
  #projects .carousel-control {
    margin-top: 300%;
  }

  #projects .carousel-inner img {
    max-width: 480px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  /*** Page Elements ***/
  section .row [class^='col-sm-'] + [class^='col-sm-'],
  section .row [class*=' col-sm-'] + [class*=' col-sm-'] {
    margin-top: 30px;
  }

  /*** Jumbotron ***/
  .jumbotron .logo {
    max-width: 120px;
  }

  /*** Mobile Nav ***/
  .navbar-toggle .navbar-brand,
  .menu-fixed .navbar-brand {
    display: block;
    margin-top: 0;
    opacity: 1;
    color: #293241;
  }

  .navbar-toggle {
    height: 36px;
    margin-bottom: 22px;
    margin-top: 22px;
  }

  .navbar-toggle .glyphicon {
    color: #6b7a78;
    top: -2px;
  }

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border-color: #29a598;
  }

  .navbar-default .navbar-toggle .active {
    color: #29a598;
  }

  .navbar-collapse {
    background-color: #fffefd;
    background-color: rgba(255, 254, 253, 0.97);
    border: none;
    box-shadow: 0 2px 8px rgba(8, 33, 30, 0.2);
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .navbar-collapse .outline.pink {
    margin: 15px auto 30px;
    max-width: 150px;
  }

  /*** projects ***/
  #projects .carousel-control {
    margin-top: 300%;
  }

  #projects .card {
    text-align: center;
  }

  .navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
    color: #2d2d2d !important;
  }

  .experience ul li {
    margin: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 904px) {
  .navbar-brand,
  .navbar-nav > li > a {
    font-size: 0.85rem;
  }
  .experience ul li .experience-content {
    width: calc(50vw - 80px);
  }
}

@media screen and (min-width: 960px) {
  .experience ul li {
    margin: 0 auto;
  }

  .experience ul li .experience-content {
    width: 40vw;
  }

  .experience ul li:nth-child(odd) .experience-content {
    left: 63px;
  }

  .experience ul li:nth-child(odd) .experience-content:before {
    left: -50px;
    width: 50px;
  }

  .experience ul li:nth-child(even) .experience-content {
    left: calc(-40vw - 57px);
    -webkit-border-radius: 5px 0px 5px 5px;
    -moz-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
  }

  .experience ul li:nth-child(even) .experience-content:before {
    left: auto;
    right: -50px;
    width: 50px;
  }

  .experience ul li:nth-child(odd) .hidden {
    margin-left: 10vw;
  }

  .experience ul li:nth-child(even) .hidden {
    margin-left: -10vw;
  }
}
